@use '../../foundation/base' as *;
@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;

.p-image-grid > div {
  display: grid;
  width: 33.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  margin-top: 3rem;

  img {
    width: 33.5rem;
  }
}

@include breakpoint(tablet) {
  .p-image-grid > div {
    width: 71.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.6rem;
    margin-top: 24.1rem;

    img {
      width: 34.9rem;
    }
  }
}

@include breakpoint(pc) {
  .p-image-grid > div {
    width: 135.3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 6rem;

    img {
      width: 43.8rem;
    }
  }
}