@use '../../foundation/base' as *;
@use '../../foundation/color' as *;
@use '../../foundation/mixin' as *;

.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: per(334, 375);
  height: 2.2rem;
  margin-bottom: per(30, 375);

  .fa-thin.fa-angles-left,
  .fa-thin.fa-angles-right {
    font-size: 1.6rem;
  }

  a,span {
    visibility: hidden;
  }

  .previouspostslink,
  .nextpostslink {
    border: none;
    display: flex;
    align-items: center;
    visibility: visible;
  }

  .previouspostslink::after {
    content: "前へ";
    margin-left: .8rem;
    font-family: "M PLUS 1p";
    font-size: 1.6rem;
    color: $color--gray;
  }

  .nextpostslink::before {
    content: "次へ";
    margin-right: .8rem;
    font-family: "M PLUS 1p";
    font-size: 1.6rem;
    color: $color--gray;
  }
}

@include breakpoint(tablet) {
  .wp-pagenavi {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: per(32, 834);
  
    .fa-thin.fa-angles-right,
    .fa-thin.fa-angles-left {
      font-size: 1.6rem;
      font-weight: 700;
      cursor: pointer;
    }

    a, span {
      border: .1rem $color--gray solid;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
      font-size: 1.6rem;
      font-family: "Roboto";
      color: $color--gray;
      text-align: center;
      padding: 0;
      margin: 0;
      margin-left: 1.5rem;
      cursor: pointer;
      visibility: visible;
    }

    span {
      background-color: $color--darkGray;
      color:  white;
    }

    a.previouspostslink,
    a.nextpostslink {
      border: none;
    }

    a.previouspostslink::after {
      display: none;
    }

    a.nextpostslink::before {
      display: none;
    }
  }
}

@include breakpoint(pc) {
  .wp-pagenavi {
    margin-bottom: per(64, 1553);
  }
}