@use '../foundation/color' as *;
@use '../foundation/base' as *;
@use '../foundation/mixin' as *;

.l-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: per(70, 150);
  height: 15rem;
  background: url('../img/footer-image-sp.png') center / cover no-repeat;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
  
    li {
      color: white;
      text-align: center;
      font-family: "M PLUS 1p";
      font-size: 1.8rem;
    }

    li:nth-of-type(1) a::after {
      content: "|";
      margin: 0 .5rem;
    }
  }

  p {
    color: white;
    text-align: center;
    font-family: "M PLUS 1p";
    font-size: 1.4rem;
  }

}

@include breakpoint(tablet) {

  .l-footer {
    background: url('../img/footer-image.png') center / cover no-repeat;
    gap: per(44, 150);
  }
}

@include breakpoint(pc) {
  .l-footer {
    gap: per(31, 150);

    li {
      font-size: 2rem;
      // padding-top: 4.1rem;
    }
  }
}